{%extends 'base.html'%}
{%block style%}
<style>
    .con{
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top:10px;
        background-color: #d3eeee;
        border-radius: 5px;
    }
    input{
        background-color: whitesmoke;
        width: 100%;
        padding: 5px;
        border-radius: 2px;
    }
    .itemDescription{
        border-radius: 10px;
    }

    input,textarea{
        background-color:whitesmoke;
        width: 100%;
        padding: 5px;
       
        border-radius: 2px;
    }



</style>

{%endblock%}
{%block content%}
    <div class="container-fluid con">
        

        <h1 class="mb-6 text-2xl ">New Item</h1>
        <form action="" method="post">
        {% csrf_token %}
        
       <div>
            <label><strong>Item Name</strong> </label>
            <br>
            {{form.name}}
        
        </div>
        <div>
            <label><strong>Item Price</strong> </label>
            <br>
            {{form.price}}
        
        </div>
        <br>
        <div>
            <label><strong>Categories</strong> </label>
            <br>
            {{form.category}}
        
        </div>
        <br>
        <div>
            <label><strong>Description</strong></label>
            {{form.description}}
        
        </div>
            <button class="btn btn-success" type="submit">save</button>
            <a class="btn btn-outline-info" href="{% url 'stock-list' %}" >back</a>

        </form>
    </div>
{%endblock%}