{%extends 'base.html'%}

{%block style%}
<style>
    .custom-column{
        min-height:200px;
        background-color: rgb(211, 238, 238);
        border-radius: 5px;
        padding: 15px;
    }

</style>

{%endblock%}

{%block content%}
<div class="container-fluid m-2 ">
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6 custom-column">
        <H1 class="mb-6 text-center">{{item.name}}</H1>
        <div class="row">
            <div class="col-md-6"><img class='img-fluid rounded' src="{{item.image.url}}" alt="dish image"></div>
            <div class="col-md-6">        <p><strong>Description: </strong> {{item.description}}</p>
                <p><strong>Price: </strong> {{item.price}}</p>
                <p><strong>category: </strong> {{item.category}}</p>
                <p><strong>Date created: </strong> {{item.date_updated}}</p>
        </div>
        </div>

       
        <div class=''>
            <a class="btn btn-outline-primary" href="{%url 'update' item.id%}">edit</a>
            <a class="btn btn-outline-danger" href="{% url 'delete' item.id %}" >delete</a>
            <a class="btn btn-outline-info" href="{% url 'stock-list' %}" >back</a>
        </div>
    

    </div>
    <div class="col-md-3"></div>
</div>
</div> 
{%endblock%}